body {
 background: #F4F4F4;
}
.hide {
  display: none !important;
}
.tabs {


}
.sub-tab {
  line-height: 30px;
  text-align: center;
  width: 215px;
  color: #00CCFF;
  font-size: 16px;
}

.page-content {
  width: 1200px;
  margin: 20px auto 0;
}
.tab {
  margin-top: 10px;
  background: url(../images/icons.png) no-repeat 0px -256px;
  width: 215px;
  height: 43px;
  line-height: 40px;
  text-align: center;
  color: #00CCFF;
  font-size: 20px;
}
.sub-tab.active {
  color: #FED136;
}
.tab.active {
  background: url(../images/icons.png) no-repeat 0px -209px;
  color: #fff;
}
.left-nav {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}
.article-block {
  display: inline-block;
  padding: 40px;
  width: 800px;
  background: #ffffff;

  .article-title {
    color: #555555;
    text-align: center;
    font-size: 30px;
    margin: 0 0 30px;
  }
  .article-intro {
    padding: 0px 0 10px;
    text-align: right;
    color: #999;

  }
  .article-content {
    color: #666;
    border-top:1px solid #DDDDDD ;
  }
  .article-img {
    margin: 45px auto;
    width: 480px;
    height: 350px;
    display: block;
  }
  p {
    text-indent:2em;
  }
}

.goodsItem {
  .price {
    font-size: 14pt;
    color: #F08200;
    font-weight: bold;
  }
  .btn-org {
    position: relative;
    top: -5px;
    font-size: 14pt;
  }
  .blue {
    color: #1CA8DB
  }
  .org{
    color: #F08200;
    font-size: 6pt;
  }
  .had-sell {
    background: #EFEFEF;
    padding: 5px 10px;
    border-radius:5px ;
  }
  .secd {
    margin-top: 10px;
    margin-bottom: 7px;
  }
  .star {
    background: url(../images/star.png) no-repeat 0 0;
    width: 85px;
    height: 83px;
  }
  .star1 {
    position: absolute;
    top: 10px;
    left: 20px;

  }
  .star2 {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .content {
    font-size: 9px;
    padding: 3px;
    width: 377px;
    border: 1px solid #C0C1C0;
    border-top: 0px;
    margin: 0;
    margin-top: -5px;
  }
}
