@import "common";
.company-service{
  .title {
    color: #343434;
    font-size: 20px;
  }
  .sub-title {
    margin-top: 10px;
    color: #999;
    font-size: 16px;
  }
   .slogan {
     margin-top: 40px;
     .title {
       padding-top: 10px;
       background: url(../images/icons.png) no-repeat 75px -318px;
     }
     .block {
       display: inline-block;
       width: 22%;
       text-align: center;
       vertical-align: top;
       margin-left: 20px;
     }
   }
  .service {
    margin-top: 80px;
    .title {
      text-align: center;
      font-size: 30px;
    }
    .sub-title {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 20px;

    }
    .item-block {
      display: inline-block;
      width: 33%;
      vertical-align: top;
        .title {
          color: #6ADAFF;
          font-size: 25px;
          margin-top: 15px;
        }
        .sub-title {
          margin-top: 10px;
        }
    }
    .img{
      display: inline-block;
      width: 390px;
      height: 200px;
      border: 1px solid #6ADAFF;
      border-radius: 20px;
    }
  }
  .service.big {
    .title {
      margin-top: 80px;
      margin-bottom: 40px;
    }

    .item-block {
      width: 24.5%;
      .title {
        margin-top: 20px;
        color:#545454;
      }
    }
    .img{
      width: 290px;
      height: 145px;
      border: 1px solid #6ADAFF;
      border-radius: 10px;
    }
  }
  .flow {
  }
  .logo-block {
    border-color: #eee;
    border-collapse: collapse;
    margin-top: 20px;
    td {
      border-right: 1px solid #eee;
    }
    img {
      width: 199px;
      height: 100px;
    }
  }
  .service.register {
    .reg-btn {
      margin: 40px auto;
      text-align: center;
      width: 570px;
      height: 70px;
      line-height: 70px;
      color: #ffffff;
      background: #01A5E4;
      border-radius: 35px;
      border: 1px solid #CCCCCA;
      font-size: 30px;
    }
    .sub-title {
      font-size: 20px;
      margin-top: 20px;
    }
    textarea {
      margin-top: 40px;
      width: 1155px;
      height: 200px;
      border: 1px solid #6ADAFF;
      border-radius: 40px;
    }
     .field-block {
       display: inline-block;
       width: 49%;
       .field-name {
         padding: 10px;
         font-size: 20px;
       }
       input {
         font-size: 15px;
         padding-left: 15px;
         border-radius: 25px;
         border: 1px solid #D6D6D6;
         background: #EEEEEE;
         width: 550px;
         height: 50px;
       }
     }
  }
}