body {
  background: #F4F4F4;
}
.hide {
  display: none !important;
}
.red {
  color: red;
}
.sub-tab {
  line-height: 30px;
  text-align: center;
  width: 215px;
  color: #00CCFF;
  font-size: 16px;
}
.page-content {
  width: 1200px;
  margin: 20px auto 0;
}
.tab {
  margin-top: 10px;
  background: url(../images/icons.png) no-repeat 0px -256px;
  width: 215px;
  height: 43px;
  line-height: 40px;
  text-align: center;
  color: #00CCFF;
  font-size: 20px;
}
.sub-tab.active {
  color: #FED136;
}
.tab.active {
  background: url(../images/icons.png) no-repeat 0px -209px;
  color: #fff;
}
.left-nav {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}
.article-block {
  display: inline-block;
  padding: 40px;
  width: 800px;
  background: #ffffff;
}
.article-block .article-title {
  color: #555555;
  text-align: center;
  font-size: 30px;
  margin: 0 0 30px;
}
.article-block .article-intro {
  padding: 0px 0 10px;
  text-align: right;
  color: #999;
}
.article-block .article-content {
  color: #666;
  border-top: 1px solid #DDDDDD ;
}
.article-block .article-img {
  margin: 45px auto;
  width: 480px;
  height: 350px;
  display: block;
}
.article-block p {
  text-indent: 2em;
}
.goodsItem .price {
  font-size: 14pt;
  color: #F08200;
  font-weight: bold;
}
.goodsItem .btn-org {
  position: relative;
  top: -5px;
  font-size: 14pt;
}
.goodsItem .blue {
  color: #1CA8DB;
}
.goodsItem .org {
  color: #F08200;
  font-size: 6pt;
}
.goodsItem .had-sell {
  background: #EFEFEF;
  padding: 5px 10px;
  border-radius: 5px ;
}
.goodsItem .secd {
  margin-top: 10px;
  margin-bottom: 7px;
}
.goodsItem .star {
  background: url(../images/star.png) no-repeat 0 0;
  width: 85px;
  height: 83px;
}
.goodsItem .star1 {
  position: absolute;
  top: 10px;
  left: 20px;
}
.goodsItem .star2 {
  position: absolute;
  right: 10px;
  top: 10px;
}
.goodsItem .content {
  font-size: 9px;
  padding: 3px;
  width: 377px;
  border: 1px solid #C0C1C0;
  border-top: 0px;
  margin: 0;
  margin-top: -5px;
}
.banner .img {
  width: 100%;
}
iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
.header-img {
  background: url(../images/banner.jpg) no-repeat center;
  height: 730px;
  position: relative;
}
.service-phone {
  color: white;
  height: 40px;
  line-height: 40px;
  background: #0093dd;
  text-align: right;
  padding-right: 15px ;
}
.service-phone .big {
  font-size: 25px;
}
.service-phone .small {
  font-size: 16px;
}
.service-slogan li {
  position: relative;
  display: inline-block;
  width: 24%;
  vertical-align: top;
}
.service-slogan {
  margin-top: 20px;
  position: relative;
  z-index: 100;
  /*  font-family: PMingLiU;*/
}
.service-slogan p {
  text-align: center;
}
.service-slogan .img {
  background: url(../images/index.png) no-repeat;
  width: 140px;
  height: 140px;
  cursor: pointer;
}
.service-slogan .tip {
  font-weight: bold;
  font-size: 15pt;
  margin-top: 20px;
}
.tip2 {
  height: 40px;
  margin-top: 5px;
  font-size: 9pt;
}
.service-slogan .training {
  background-position: -1px 2px;
}
.service-slogan .heart {
  background-position: -148px -155px;
}
.service-slogan .quality {
  background-position: -144px 1px;
}
.service-slogan .safe {
  background-position: 0px -156px;
}
.slogan-content {
  margin-top: 15px;
  height: 539px;
  background: #EFEFEF;
}
.service-slogan .arrow {
  bottom: -37px;
  left: 100px;
  position: absolute;
  width: 60px;
  height: 26px;
  background: url(../images/arrow.png) no-repeat -1px -1px;
}
.index-gooder-header {
  display: inline-block;
  margin-bottom: 30px;
  position: relative;
  height: 83px;
  background: #1AAB46;
  width: 50%;
}
.tehui-bg .img {
  top: 0px;
  position: absolute;
  background: url(../images/middle.png) no-repeat -10px -6px;
  width: 960px;
  height: 95px;
  margin: 0 auto;
  left: 10%;
}
.index-gooder-header .title {
  color: #ffffff;
  float: right;
}
.header-img .char {
  margin-left: 43px;
  position: absolute;
  top: 250px;
  background: url(../images/bannerchar.png) no-repeat 0 0;
  width: 318px;
  height: 137px;
}
.header-img .big {
  font-size: 20px;
  font-weight: bold;
}
.header-img .small {
  margin-bottom: 27px;
  font-size: 17px;
  margin-top: 6px;
}
.header-img-block {
  background: #dbcbab;
}
.banner {
  width: 960px;
  margin: 0 auto;
  position: relative;
  height: 60px;
  overflow: hidden;
}
.banner-close {
  position: absolute;
  right: 5px;
  top: 5px;
}
.logo_content .mobile {
  top: -29px;
  float: right;
  background: url(../images/mobile.png) no-repeat 0px 0px;
  width: 400px;
  height: 42px;
  position: relative;
}
.logo_content .category-ul li {
  height: 20px;
  font-size: 14px;
  margin-left: 40px;
  padding-right: 74px;
  display: inline-block;
  line-height: 22px;
  border-right: 1px solid;
}
.logo_content .new-category {
  width: 743px;
  top: -28px;
  position: relative;
  margin-top: 10px;
}
.tehui-bg {
  width: 100%;
  position: relative;
}
.phone-icon {
  top: 5px;
  position: relative;
  background: url(../images/icons.png) no-repeat -201px -10px;
  width: 30px;
  height: 31px;
  display: inline-block;
}
.weixin {
  margin-left: 44px;
  background: url(../images/weixin1.jpg) no-repeat 0px 0px;
  width: 150px;
  height: 190px;
  position: absolute;
  bottom: 125px;
  left: 95px;
}
.tese {
  background: url(../images/tedian1.jpg) no-repeat 0 0;
  height: 1400px;
  width: 100%;
  position: relative;
}
.tese1 {
  background: url(../images/tedian1.jpg) no-repeat 0 0;
}
.tese2 {
  background: url(../images/tedian2.jpg) no-repeat 0 0;
}
.tese3 {
  background: url(../images/tedian3.jpg) no-repeat 0 0;
}
.tese4 {
  background: url(../images/tedian4.jpg) no-repeat 0 0;
}
.slogan-content-block {
  position: relative;
  /*  font-family: PMingLiU;*/
}
.slogan-content-block .block {
  position: relative;
}
.slogan-content-block .char {
  position: absolute;
  top: 100px;
  right: 20px;
  color: #0FA2B1;
}
.slogan-content-block .char p {
  font-size: 19pt;
  margin-top: 20px;
}
.slogan-content-block .tese1-char {
  background: url(../images/char1.png) no-repeat 0 0;
  width: 497px;
  height: 155px;
}
.slogan-content-block .tese1-char p {
  font-size: 15pt;
}
.slogan-content-block .tese2-char {
  top: 157px;
  right: 122px;
  color: black;
  background: url(../images/char2.png) no-repeat 0 0;
  height: 81px;
  width: 489px;
}
.slogan-content-block .tese4-char {
  top: 300px;
  right: 320px;
  color: black;
  background: url(../images/char4.png) no-repeat 0 0;
  width: 726px;
  height: 86px;
}
.slogan-content-block .tese3-char {
  right: 493px;
}
.slogan-content-block .char-img {
  background: url(../images/char3.png) no-repeat 0 0;
  width: 510px;
  height: 211px;
}
.big-font {
  font-size: 18pt;
}
.service-order {
  height: 45px;
  text-align: left;
  line-height: 45px;
  font-size: 15pt;
}
.service-order .cat {
  margin-left: 20px;
}
.service-order .title {
  font-size: 23pt;
}
.index .title {
  color: #343434;
  text-align: center;
  font-size: 30px;
  margin-top: 80px;
}
.index .sub-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.index .scroll-block {
  display: inline-block;
  width: 390px;
  height: 200px;
  border-radius: 20px;
  color: #ffffff;
  position: relative;
  background: #A8D973;
  font-size: 25px;
  text-align: center;
  line-height: 200px;
  margin-top: 30px;
  margin-left: 5px;
}
.index .scroll-block-hover {
  font-size: 18px;
  line-height: normal;
  word-break: break-all;
  text-align: center;
  position: absolute;
  width: 390px;
  background: #b1cc94;
  border-radius: 20px;
  bottom: 0px;
  height: 0px;
  overflow: hidden;
  cursor: pointer;
}
.index .scroll-block-hover .content {
  line-height: 30px;
  margin-top: 55px;
  width: 50%;
}
.index .scroll-block-hover2 {
  background: #00CCF0;
}
.index .scroll-block-hover3 {
  background: #FF66C0;
}
.index .scroll-block-hover4 {
  background: #FFC001;
}
.index .scroll-block-hover5 {
  background: #FF7C81;
}
.index .scroll-block-hover6 {
  background: #CC66F0;
}
.index .scroll-block-hover7 {
  background: #FF9909 ;
}
.index .scroll-block-hover8 {
  background: #33CCC0 ;
}
.index .scroll-block-hover9 {
  background: #CC00C0;
}
.index .scroll-block2 {
  background: #00CCFF;
}
.index .scroll-block3 {
  background: #FF66CC;
}
.index .scroll-block4 {
  background: #FFC000;
}
.index .scroll-block5 {
  background: #FF7C80;
}
.index .scroll-block6 {
  background: #CC66FF;
}
.index .scroll-block7 {
  background: #FF9900 ;
}
.index .scroll-block8 {
  background: #33CCCC ;
}
.index .scroll-block9 {
  background: #CC00CC;
}
.index .aboutus-block {
  margin-top: 50px;
}
.index .aboutus-block .title-line {
  border-bottom: 1px solid #bbb;
  margin-bottom: 15px ;
  padding-bottom: 15px ;
}
.index .aboutus-block .more {
  display: inline-block;
  color: #999;
}
.index .aboutus-block .left {
  width: 710px;
  display: inline-block;
}
.index .aboutus-block .left .left-title {
  display: inline-block;
  background: url(../images/icons.png) no-repeat -1px -371px;
  width: 353px;
  height: 42px;
}
.index .aboutus-block .left .more {
  margin-left: 300px;
}
.index .aboutus-block .left .img {
  width: 700px;
  height: 210px;
  border: 1px solid #76C6C5;
}
.index .aboutus-block .left .news-title {
  padding: 10px 0px 20px;
  color: #B0B0B0;
  font-size: 20px;
}
.index .aboutus-block .right {
  margin-left: 20px;
  width: 440px;
  display: inline-block;
  vertical-align: top;
}
.index .aboutus-block .right .img {
  width: 165px;
  border: 1px solid #76C6C5;
  height: 130px;
}
.index .aboutus-block .right .right-title {
  display: inline-block;
  background: url(../images/icons.png) no-repeat -200px -323px;
  width: 283px;
  height: 42px;
}
.index .aboutus-block .right .report-title {
  vertical-align: top;
  margin-left: 15px;
  width: 270px;
  display: inline-block;
}
.index .aboutus-block .right .report-block {
  margin-bottom: 10px;
}
.index .aboutus-block .right .more {
  margin-left: 100px;
}
.index .cooperate-block {
  margin-top: 60px;
  border-top: 1px solid #CCCCCC;
  position: relative;
  padding-top: 40px;
}
.index .cooperate-block .title {
  font-size: 33px;
  line-height: 32px;
  color: #666;
  position: absolute;
  top: -103px;
  background: white;
  left: 454px;
  padding: 0 40px;
}
.index .cooperate-block .img-wrap {
  display: inline-block;
}
.index .cooperate-block .img-wrap img {
  margin-left: 35px;
  width: 250px;
  height: 110px;
}
