body {
  background: #F4F4F4;
}
.hide {
  display: none !important;
}
.red {
  color: red;
}
.sub-tab {
  line-height: 30px;
  text-align: center;
  width: 215px;
  color: #00CCFF;
  font-size: 16px;
}
.page-content {
  width: 1200px;
  margin: 20px auto 0;
}
.tab {
  margin-top: 10px;
  background: url(../images/icons.png) no-repeat 0px -256px;
  width: 215px;
  height: 43px;
  line-height: 40px;
  text-align: center;
  color: #00CCFF;
  font-size: 20px;
}
.sub-tab.active {
  color: #FED136;
}
.tab.active {
  background: url(../images/icons.png) no-repeat 0px -209px;
  color: #fff;
}
.left-nav {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}
.article-block {
  display: inline-block;
  padding: 40px;
  width: 800px;
  background: #ffffff;
}
.article-block .article-title {
  color: #555555;
  text-align: center;
  font-size: 30px;
  margin: 0 0 30px;
}
.article-block .article-intro {
  padding: 0px 0 10px;
  text-align: right;
  color: #999;
}
.article-block .article-content {
  color: #666;
  border-top: 1px solid #DDDDDD ;
}
.article-block .article-img {
  margin: 45px auto;
  width: 480px;
  height: 350px;
  display: block;
}
.article-block p {
  text-indent: 2em;
}
.goodsItem .price {
  font-size: 14pt;
  color: #F08200;
  font-weight: bold;
}
.goodsItem .btn-org {
  position: relative;
  top: -5px;
  font-size: 14pt;
}
.goodsItem .blue {
  color: #1CA8DB;
}
.goodsItem .org {
  color: #F08200;
  font-size: 6pt;
}
.goodsItem .had-sell {
  background: #EFEFEF;
  padding: 5px 10px;
  border-radius: 5px ;
}
.goodsItem .secd {
  margin-top: 10px;
  margin-bottom: 7px;
}
.goodsItem .star {
  background: url(../images/star.png) no-repeat 0 0;
  width: 85px;
  height: 83px;
}
.goodsItem .star1 {
  position: absolute;
  top: 10px;
  left: 20px;
}
.goodsItem .star2 {
  position: absolute;
  right: 10px;
  top: 10px;
}
.goodsItem .content {
  font-size: 14px;
  padding: 3px;
  width: 377px;
  border: 1px solid #C0C1C0;
  border-top: 0px;
  margin: 0;
  margin-top: -5px;
}
.banner .img {
  width: 100%;
}
iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
#topNav .active {
  color: #00CCFF;
}
.service-phone {
  width: 200px;
  margin-left: 20px;
}
.life-manager {
  background: #FDFDFD;
}
.life-manager .left-block {
  width: 1200px;
  margin-left: 0px;
}
.life-manager .img {
  width: 500px;
  height: 350px;
}
.life-manager .content-block {
  width: 690px;
  display: inline-block;
  vertical-align: top;
}
.life-manager .title {
  text-align: center;
  font-size: 35px;
  color: #000000;
  padding: 20px;
}
.life-manager .content {
  font-size: 23px;
  color: #747474;
  line-height: 30px;
}
