.header-img {
    background: url(images/banner.jpg) no-repeat center;
    height: 950px;
}
.service-phone {
    color: yellow;
    height: 40px;
    line-height: 40px;
    background: #01A5E4;
    text-align: right;
    padding-right: 15px ;
}

.service-phone .big {
    font-size: 19px;
}
.service-phone .small{
    font-size: 16px;
}
.service-slogan li{
    position: relative;
    display: inline-block;
    width: 24%;
}

.service-slogan {
    margin-top: 20px;
}
.service-slogan p{
    text-align: center;
}
.service-slogan .img {
    background: url(images/index.png) no-repeat;
    width: 140px;
    height: 112px;
  cursor: pointer;

}
.service-slogan .tip{
    font-weight: bold;
    font-size: 16px;

}
.service-slogan .training{
    background-position:-10px 2px ;

}
.service-slogan .heart{
    background-position:-157px -133px ;
}
.service-slogan .quality{
    background-position:-150px 5px ;

}
.service-slogan .safe{
    background-position:-15px -128px ;

}
.slogan-content{
    padding-top: 27px;
    margin-top: 15px;
    width: 100%;
    height: 400px;
    background: #EFEFEF;
}
.service-slogan .arrow {
    bottom: -34px;
    left: 61px;
    position: absolute;
    width: 60px;
    height: 18px;
    background: url(images/icons.png) no-repeat -112px -17px;
}
.index-gooder-header {
    display: inline-block;
    margin-bottom: 30px;
    position: relative;
    height: 83px;
    background: #1AAB46;
    width: 50%;
}
.tehui-bg .img {
    top: 0px;
    position: absolute;
    background: url(images/middle.png) no-repeat -10px -6px;
    width: 960px;
    height: 95px;
    margin: 0 auto;
    left: 10%;
}
.index-gooder-header .title{
    color: #ffffff;
    float:right;
}
.goodsItem .content {
    padding: 3px;
    width: 261px;
    height: 51px;
    border: 1px solid #C0C1C0;
    border-top: 0px;
    margin: 0;
    margin-top: -5px;
}
.header-img .logo {
    margin-left: 44px;
    background: url(images/logo.png) no-repeat -0px -3px;
    width: 382px;
    height: 142px;
    position: absolute;
    margin-top: 20px;
}
.header-img .char{
    margin-left: 43px;
    position: absolute;
    top: 250px;

}
.header-img .big{
    font-size: 20px;
    font-weight: bold;
}
.header-img .small{
    margin-bottom: 27px;
    font-size: 17px;
    margin-top: 6px;
}
.banner {
    width: 960px;
    margin: 0 auto;
    position: relative;
    height: 60px;
    overflow: hidden;
}

.banner-close {
    position: absolute;
    right: 5px;
    top: 5px;
}
.logo_content .mobile {
    top: -29px;
    float: right;
    background: url(images/mobile.png) no-repeat -0px -0px;
    width: 400px;
    height: 42px;
    position: relative;
}
.logo_content .category-ul {
}
.logo_content .category-ul li {
    height: 20px;
    font-size: 14px;
    margin-left: 40px;
    padding-right: 74px;
    display: inline-block;
    line-height: 22px;
    border-right: 1px solid;
}
.logo_content .new-category {
    width: 743px;
    top: -28px;
    position: relative;
    margin-top: 10px;
}
.tehui-bg {
    width: 100%;    position: relative;
}
