.header-img {
    background: url(images/banner.jpg) no-repeat center;
    height: 730px;
  position: relative;
}
.service-phone {
    color: white;
    height: 40px;
    line-height: 40px;
    background: rgb(0,147,221);
    text-align: right;
    padding-right: 15px ;
}

.service-phone .big {
    font-size: 25px;
}
.service-phone .small{
    font-size: 16px;
}
.service-slogan li{
    position: relative;
    display: inline-block;
    width: 24%;
  vertical-align: top;
}

.service-slogan {
    margin-top: 20px;
  position: relative;
  z-index: 100;
}
.service-slogan p{
    text-align: center;
}
.service-slogan .img {
    background: url(images/index.png) no-repeat;
    width: 140px;
    height: 112px;
  cursor: pointer;

}
.service-slogan .tip{
    font-weight: bold;
    font-size: 16px;

}

 .tip2 {
    height: 40px;
   margin-top: 5px;
}
.service-slogan .training{
    background-position:-1px 2px ;

}
.service-slogan .heart{
    background-position:-151px -133px ;
}
.service-slogan .quality{
    background-position:-138px 1px ;

}
.service-slogan .safe{
    background-position:-7px -131px ;

}
.slogan-content{
    margin-top: 15px;
    width: 100%;
    height: 539px;
    background: #EFEFEF;
}
.service-slogan .arrow {
  bottom: -37px;
  left: 61px;
  position: absolute;
  width: 60px;
  height: 26px;
  background: url(http://localhost/ecshop/upload/themes/default/images/arrow.png) no-repeat -1px -1px;
}
.index-gooder-header {
    display: inline-block;
    margin-bottom: 30px;
    position: relative;
    height: 83px;
    background: #1AAB46;
    width: 50%;
}
.tehui-bg .img {
    top: 0px;
    position: absolute;
    background: url(images/middle.png) no-repeat -10px -6px;
    width: 960px;
    height: 95px;
    margin: 0 auto;
    left: 10%;
}
.index-gooder-header .title{
    color: #ffffff;
    float:right;
}
.goodsItem .content {
  padding: 3px;
  width: 98%;
  border: 1px solid #C0C1C0;
  border-top: 0px;
  margin: 0;
  margin-top: -5px;
}
.header-img .logo {
}
.header-img .char{
    margin-left: 43px;
    position: absolute;
    top: 250px;

}
.header-img .big{
    font-size: 20px;
    font-weight: bold;
}
.header-img .small{
    margin-bottom: 27px;
    font-size: 17px;
    margin-top: 6px;
}
.banner {
    width: 960px;
    margin: 0 auto;
    position: relative;
    height: 60px;
    overflow: hidden;
}

.banner-close {
    position: absolute;
    right: 5px;
    top: 5px;
}
.logo_content .mobile {
    top: -29px;
    float: right;
    background: url(images/mobile.png) no-repeat -0px -0px;
    width: 400px;
    height: 42px;
    position: relative;
}
.logo_content .category-ul {
}
.logo_content .category-ul li {
    height: 20px;
    font-size: 14px;
    margin-left: 40px;
    padding-right: 74px;
    display: inline-block;
    line-height: 22px;
    border-right: 1px solid;
}
.logo_content .new-category {
    width: 743px;
    top: -28px;
    position: relative;
    margin-top: 10px;
}
.tehui-bg {
    width: 100%;    position: relative;
}
.phone-icon {
  top: 5px;
  position: relative;
  background: url(http://localhost/ecshop/upload/themes/default/images/icons.png) no-repeat -201px -10px;
  width: 30px;
  height: 31px;
  display: inline-block;
}
.weixin {
  margin-left: 44px;
  background: url(http://localhost/ecshop/upload/themes/default/images/weixin.jpg) no-repeat 0px -3px;
  width: 100px;
  height: 125px;
  position: absolute;
  margin-top: 20px;
  bottom: 180px;
  left: 155px;
}
.tese {
  background: url(images/tedian1.jpg) no-repeat 0 0;
  height: 1400px;
  width: 100%;
  position: relative;
}

.tese1 {
  background: url(images/tedian1.jpg) no-repeat 0 0;
}
.slogan-content-block {
  position: relative;
  .block {
    position: relative;
  }
  .char {
    position: absolute;
    top: 100px;
    right: 0px;
    color: #0FA2B1;
    p {
      font-size: 17px;
      margin-top: 20px;
    }
  }
}
.big-font {
  font-size: 25px;
}
.service-order {
  height: 45px;
  text-align: left;
  line-height: 45px;
  .cat {
    margin-left: 20px;
  }

}
.goodsItem {
  .price {
    font-size: 20px;
    color: #F08200;
    font-weight: bold;
  }
  .btn-org {
    position: relative;
    top: -5px;
  }
  .blue {
    color: #1CA8DB
  }
  .org{
    color: #F08200
  }
  .had-sell {
     background: #EFEFEF;
    padding: 5px 10px;
    border-radius:5px ;
  }
  .secd {
    margin-top: 10px;
    margin-bottom: 7px;
  }
}
