 .good-area-r {
     width: 960px;
     overflow: hidden;
 }
 .good-left {
     width: 390px;
     display: inline-block;
     float:left;
 }
 .good-right{
     width: 373px;
     display: inline-block;
     float: right;
     margin-bottom:-3000px;
     padding-bottom:3000px;
     background: #EFEFEF;
 }
 #tab_b {
     width: 580px;
     height: 80px;
     background: #01A5E4;
 }
 .good-left .history h2{
     width: 112px;
     height: 64px;
     background: url(../images/icons.png) no-repeat -7px -90px;
     position: relative;
     top: 16px;
     font-size: 14px;
     background-color: white;
 }
 .good-left h3 {
     height: auto;
     background: none;
 }
 .good-left .history .h2bg {
     background:none ;
     color: #000000;
 }
 .good-left .good-tab {
     float: right;
 }
 .good-left .good-img {
     width: 577px;
     margin: 10px;
     border: 2px solid #eee;
     margin-left: 5px;
     height: 360px;
 }
 .good-left .name {
     margin-left: 10px;
     margin-top: 30px;
     height: 50px;
     color: white;
     position: absolute;
     font-size: 25px;
 }
 .good-left  {

 }
 .good-left  {

 }
 .good-left  {

 }
 .service_quality {
     border: 1px solid #D2D2D2;
     margin-left: 10px;
     width: 320px;
     color: #8A8A8A;
     padding: 10px;
     margin-top: 30px;
 }
 .service_quality .left-img {
     display: inline-block;
     background: url(../images/icons.png) no-repeat -0px -0px;
     width: 56px;
     height: 50px;
     vertical-align: top;

 }
 .service_quality li {
     margin-top: 15px;
 }
 .service_quality li:first-child{
     margin-top: 0px;
 }
 .service_quality .img1{
     background-position:  -347px -130px;

 }
 .service_quality .img2{
     background-position:  -285px -108px;

 }
 .service_quality .img3{
     background-position:  -285px -56px;
 }
 .service_quality .img4{
     background-position:  -282px -1px;

 }
 .service_quality .img5{
     background-position:  -348px -1px;

 }
 .service_quality .img6{

     background-position:  -348px -77px;
 }
 .service_quality .right-content {
     margin-top: 10px;
     display: inline-block;
     width: 255px;

 }
 .service_quality .title {
     font-size: 14pt;
 }
 .service_quality .r-content{
     line-height: 24px;
     margin-top: 8px;
 }

#goodsInfo .select-single{
    border: 1px solid gray;
    padding: 9px;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
}
 #goodsInfo .selected{
     background:#01A5E4 ;
     border: 0;
     color: white;
 }
