 .good-area-r {
     width: 960px;
     border: 1px solid;
     overflow: hidden;
 }
 .good-left {
     width: 390px;
     display: inline-block;
     float:left;
 }
 .good-right{
     width: 373px;
     border: 1px solid red;
     display: inline-block;
     float: right;
     margin-bottom:-3000px;
     padding-bottom:3000px;
     background: #EFEFEF;
 }
 #tab_b {
     width: 580px;
     height: 80px;
     background: #01A5E4;
 }
 .good-left .history h2{
     width: 112px;
     height: 64px;
     background: url(../images/icons.png) no-repeat -7px -90px;
     position: relative;
     top: 15px;
     font-size: 14px;
 }
 .good-left h3 {
     height: auto;
     background: none;
 }
 .good-left .history .h2bg {
     background:none ;
     color: #000000;
 }
 .good-left .good-tab {
     float: right;
 }
 .good-left .good-img {
     width: 577px;
     margin: 10px;
     border: 2px solid #eee;
     margin-left: 5px;
     height: 360px;
 }
 .good-left  {

 }
 .good-left  {

 }
 .good-left  {

 }
 .good-left  {

 }
